<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Simple Table</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>First Name</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Trinita</td>
                  <td>India</td>
                  <td>Chennai</td>
                  <td class="text-primary">Rs.36,738</td>
                </tr>
                <tr>
                  <td>Priya</td>
                  <td>India</td>
                  <td>Bangalore</td>
                  <td class="text-primary">Rs.23,789</td>
                </tr>
                <tr>
                  <td>Nithya</td>
                  <td>India</td>
                  <td>Hyderabad</td>
                  <td class="text-primary">Rs.56,142</td>
                </tr>
                <tr>
                  <td>Divya</td>
                  <td>India</td>
                  <td>Madurai</td>
                  <td class="text-primary">Rs.38,735</td>
                </tr>
                <tr>
                  <td>Anitha</td>
                  <td>India</td>
                  <td>Chennai</td>
                  <td class="text-primary">Rs.63,542</td>
                </tr>
                <tr>
                  <td>Janani</td>
                  <td>India</td>
                  <td>Chennai</td>
                  <td class="text-primary">Rs.78,615</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Striped Table</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-primary">
                <tr>
                  <th>First Name</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Trinita</td>
                  <td>India</td>
                  <td>Chennai</td>
                  <td class="text-primary">Rs.36,738</td>
                </tr>
                <tr>
                  <td>Priya</td>
                  <td>India</td>
                  <td>Bangalore</td>
                  <td class="text-primary">Rs.23,789</td>
                </tr>
                <tr>
                  <td>Nithya</td>
                  <td>India</td>
                  <td>Hyderabad</td>
                  <td class="text-primary">Rs.56,142</td>
                </tr>
                <tr>
                  <td>Divya</td>
                  <td>India</td>
                  <td>Madurai</td>
                  <td class="text-primary">Rs.38,735</td>
                </tr>
                <tr>
                  <td>Anitha</td>
                  <td>India</td>
                  <td>Chennai</td>
                  <td class="text-primary">Rs.63,542</td>
                </tr>
                <tr>
                  <td>Janani</td>
                  <td>India</td>
                  <td>Chennai</td>
                  <td class="text-primary">Rs.78,615</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
