<div class="container">
  <app-navbar title="Wizard"></app-navbar>
  <div class="row page-title">
    <div class="col-md-10 col-md-offset-1">
      <div class="wizard-panel card">
        <div class="wizard-header">
          <h3 class="text-center">Build Your Profile</h3>
          <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">This information will let us know more about you.</h5>
        </div>
        <div class="wizard-navigation">
          <ul class="nav nav-pills">
            <li class="text-uppercase text-center">About</li>
            <li class="text-uppercase text-center">Account</li>
            <li class="text-uppercase text-center">Address</li>
          </ul>
          <div class="move-tab text-center text-uppercase">About</div>
        </div>
        <div class="wizard-body">
          <div class="wizard-tab">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vestibulum tellus. Pellentesque et massa ac tellus tincidunt luctus. Sed ac quam vitae ante tincidunt fringilla nec nec elit. Mauris elementum elit tellus, quis sodales nulla facilisis vel. Donec porta posuere velit ac malesuada. In iaculis tincidunt consectetur. Pellentesque quis risus vel libero varius ultrices non at turpis.

            Donec suscipit tortor lorem, vitae mollis urna rhoncus ac. Praesent convallis mauris turpis, quis mollis magna maximus ut. Aenean vel magna vitae est vulputate lobortis quis vitae lectus. Curabitur non eros tincidunt, feugiat ex sed, accumsan nunc. Aenean interdum, sem nec ultricies luctus, ligula elit convallis nisi, auctor lacinia ante leo quis mi. Vivamus viverra libero sit amet quam venenatis vestibulum. Fusce interdum sapien id dui sollicitudin condimentum gravida quis velit. Nam sollicitudin tempus urna vel ultricies. Vestibulum aliquet ante ut arcu tristique mattis. Pellentesque neque justo, scelerisque nec nisl ac, fringilla auctor tellus. Vestibulum a venenatis sem.
          </div>
          <div class="wizard-tab">
            Donec suscipit tortor lorem, vitae mollis urna rhoncus ac. Praesent convallis mauris turpis, quis mollis magna maximus ut. Aenean vel magna vitae est vulputate lobortis quis vitae lectus. Curabitur non eros tincidunt, feugiat ex sed, accumsan nunc. Aenean interdum, sem nec ultricies luctus, ligula elit convallis nisi, auctor lacinia ante leo quis mi. Vivamus viverra libero sit amet quam venenatis vestibulum. Fusce interdum sapien id dui sollicitudin condimentum gravida quis velit. Nam sollicitudin tempus urna vel ultricies. Vestibulum aliquet ante ut arcu tristique mattis. Pellentesque neque justo, scelerisque nec nisl ac, fringilla auctor tellus. Vestibulum a venenatis sem.

            Proin mattis nec urna in placerat. Vivamus pretium leo vel diam tempor, nec tincidunt felis convallis. Ut auctor mauris nec quam eleifend volutpat. Sed leo mi, pulvinar sed eleifend in, consectetur in purus. Etiam ultrices leo tellus, eu accumsan nisi aliquam in. Praesent vestibulum enim ac nisi sagittis ullamcorper. Ut vitae lectus bibendum, ornare metus non, sollicitudin ante.
          </div>
          <div class="wizard-tab">
            Proin mattis nec urna in placerat. Vivamus pretium leo vel diam tempor, nec tincidunt felis convallis. Ut auctor mauris nec quam eleifend volutpat. Sed leo mi, pulvinar sed eleifend in, consectetur in purus. Etiam ultrices leo tellus, eu accumsan nisi aliquam in. Praesent vestibulum enim ac nisi sagittis ullamcorper. Ut vitae lectus bibendum, ornare metus non, sollicitudin ante.

            Ut venenatis magna nisl, sit amet convallis est aliquet nec. Curabitur blandit elementum suscipit. Ut ac odio sapien. Donec dapibus, urna id fermentum sagittis, purus turpis consequat massa, et efficitur lacus mi rutrum arcu. Nullam et scelerisque velit. Sed tellus turpis, facilisis eget convallis id, euismod et diam. Aliquam ultricies, quam eu scelerisque posuere, lorem justo consectetur orci, ut sagittis eros dolor sit amet justo. Praesent interdum, magna a sagittis vulputate, magna felis commodo quam, sed tristique nisi est vitae mauris.
          </div>
        </div>
        <div class="wizard-footer">
          <button id="preBtn" class="btn btn-danger" (click)="preOnClick()">Previous</button>
          <button id="nextBtn" class="btn btn-success" (click)="nextOnClick()">Click me to navigate</button>
        </div>
      </div>
    </div>
  </div>
</div>
